body {
  font-family: sans-serif;
}

.icon {
  display: block;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 5px solid #000;
}

.icon::before {
  position: absolute;
  content: "1";
  width: 33px;
  height: 25px;
  padding-left: 60px;
  padding-top: 68px;
  background-color: #f0f5ff;
  border-radius: 50%;
  z-index: 10;
  text-align: center;
  font-weight: bold;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon::after {
  position: absolute;
  content: "";
  text-align: center;
  width: 35px;
  height: 35px;

  border: 5px solid #000;
  border-radius: 50%;
  bottom: -6px;
  right: -6px;
}
.icon_type_mail {
  border-color: #4a80ff;
}
.icon_type_mail::before {
  background-image: url(https://raw.githubusercontent.com/maxvipon/html-tasks/master/achivement_1_icon.png);
  border-color: #4a80ff;
  background-color: #f0f5ff;
  color: #4a80ff;
}

.icon_type_mail::after {
  border-color: #4a80ff;
  background-color: #f0f5ff;
}

.icon_type_microphone::before {
  background-image: url(https://github.com/maxvipon/html-tasks/raw/master/achivement_2_icon.png);
  border-color: #84ff4f;
  background-color: #ebffe2;
  color: #84ff4f;
}

.icon_type_microphone {
  border-color: #84ff4f;
}
.icon_type_microphone::after {
  border-color: #84ff4f;
  background-color: #ebffe2;
  color: #ebffe2;
}
